.add-item-name{
  width: 80%;
}

.add-item-quantity {
  width: 23%;
}

.input__name::placeholder {
  font-size: 14px; /* Adjust the font size to your preference */
}

.input__quantity::placeholder {
  font-size: 14px; /* Adjust the font size to your preference */
}

.form-container {
  margin: 0 auto;
  height: 725px;}

.add-list-unit {
  input {
    width: 96%;
    padding: 10px 2px;
    border-radius: 8px;
    border-style: none;
    margin-bottom: 10px;
  }
}

.add-button {
  background-color: white;
  font-size: 27px;
  text-align: center;
  width: 47px;
  border-radius: 11px;
  margin: 8px 5px 0px 0px;
}

.submit-button {
  position: fixed;
  bottom: 80px;
  left: calc(50vw - 100px);
  width: 200px;
}
