#myTab {
  position: sticky;
  z-index: 1000;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
  margin: 0;
  transition: all 0.5s;
  .nav-link {
    margin: 10px;
  }
  .active {
    font-weight: bold;
  }
}
