#show {
  background-color: white;
  min-height: 90vh;
  padding-bottom: 50px;
  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .show_hike_map {
    h4 {
      background-color: rgba(66, 66, 66, 0.411);
      padding: 5px;
      color: white;
      font-size: 18px;
    }
  }
  .show_hike_details {
    padding: 0;
    margin: 0;
    background-color: white;
    i {
      margin: 0;
      padding: 0;
    }
    p {
      font-size: 14px;
      margin: 0;
      padding: 0;
      animation: appear 0.5s ease-in;
      .average_time {
        font-style: italic;
        font-size: 12px;
      }
    }
  }
  .show_event_details {
    background-color: white;
    padding: 5px;
    .show_owner_event {
      padding: 10px 0;
      border-bottom: 1px solid grey;
      animation: appear 0.5s ease-in;
      h6 {
        margin: 0;
        font-size: 14px;
      }
    }
    .participate {
      font-size: 12px;
      margin: 0;
      padding: 5px;
    }
    .show_delete_js {
      background-color: rgb(210, 0, 0);
      color: white;
      padding: 5px;
      margin-top: 5px;
      font-size: 12px;
      border-radius: 5px;
      outline: none !important;
      border: none !important;
      text-decoration: none;
    }
    .show_btn_js {
      background-color: $yellow;
      color: $gray;
      padding: 8px;
      margin-top: 5px;
      font-size: 12px;
      border-radius: 5px;
      text-decoration: none;
    }
    .details_stats {
      padding: 20px 0;
      margin: 5px 0;
      border-radius: 10px;
      background-color: rgb(176, 255, 176);
      animation: appear 0.5s ease-in;
      h6 {
        font-size: 12px;
        margin: 0;
        padding: 10px 5px;
        span {
          font-size: 12px;
          font-weight: bold;
        }
      }
      .event_stats {
        h6 {
          color: black;
          margin: 0;
          padding: 0;
        }
        .list_items_btn {
          display: flex;
          justify-content: center;
          background-color: $white;
          * {
            color: $green !important;
            text-decoration: none;
          }
          padding: 10px;
          border-radius: 10px;
          border: 2px solid $green;
        }
      }
    }
    .img_parent {
      padding: 0 !important;
    }
    .difficulty {
      padding: 10px;
      border-radius: 10px;
      color: white;
    }
    .balade {
      background-color: beige;
    }
    .facile {
      background-color: green;
    }
    .inter {
      background-color: orange;
    }
    .difficile {
      background-color: red;
    }
    .sportif {
      background-color: black;
    }
  }
}

.btn_message {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $green;
  bottom: 70px;
  right: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-decoration: none;
  i {
    color: white;
  }
}

.bool_events {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  .bool_stats {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:$green;
    padding: 5px;
    border-radius: 5px;
    h6 {
      color: white;
      font-weight: bold;
    }
    .bool-true{
      background-color: white;
      border-radius: 50%;
      height: 35px;
      width: 35px;
      font-size: 16px;
      color: $green;
      img {
        background-color: green;
        border-radius: 50%;
        width: 30px;
      }
    }
  }
}
