#show {
  .show_hike_map {
    h2 {
      background-color: rgba(66, 66, 66, 0.411);
      padding: 15px;
      color: white;
      font-size: 20px;
    }
  }
  .show_event_details {
    background-color: rgba(234, 186, 82, 0.566);
    .difficulty {
      padding: 10px;
      border-radius: 10px;
      color: white;
    }
    .balade {
      background-color: beige;
    }
    .facile {
      background-color: green;
    }
    .intermediaire {
      background-color: orange;
    }
    .difficile {
      background-color: red;
    }
    .sportif {
      background-color: black;
    }
  }
}
