
<% if notice %>
<div data-controller="flashes">
  <div class="alert alert-dismissible fade show m-1" role="alert" data-flashes-target="alert">
    <%= notice %>
  </div>
</div>
<% end %>
<% if alert %>
<div data-controller="flashes">
  <div class="alert alert-dismissible fade show m-1" role="alert" data-flashes-target="alert">
    <%= alert %>
  </div>
</div>
<% end %>
