<footer class="navbar-lewagon d-flex justify-content-evenly align-items-center fixed-bottom">
    <div class="navbar-item">
      <%= link_to(myevents_path) do %>
        <i class="fas fa-calendar-check"></i>
        <h6>Mes evenements</h6>
      <% end %>
    </div>
    <div class="navbar-item">
      <%= link_to(events_path) do %>
        <i class="fas fa-map-marker-alt"></i>
        <h6>Evenements autour de moi</h6>
      <% end %>
    </div>
    <div class="navbar-item">
      <%= link_to(hikes_path) do %>
        <i class="fas fa-route"></i>
        <h6>Explorer des itinéraires</h6>
      <% end %>
    </div>
    <div class="navbar-item">
      <%= link_to(new_event_path) do %>
        <i class="fas fa-plus-square"></i>
        <h6>Créer un evenement</h6>
      <% end %>
    </div>
</footer>
