<div data-controller="map">
  <form class="d-flex my-5" data-action="submit->map#find">
    <input type="text" class="form-control flex-grow-1 me-2" placeholder="Type an address" data-map-target="input">
    <input type="submit" value="Geocode!" class="btn btn-primary">
  </form>
</div>
