<%

def difficult(e)
  case e.difficulty
  when 'Facile'
    'facile'
  when 'Balade'
    'balade'
  when 'Intermédiaire'
    'inter'
  when 'Difficile'
    'difficile'
  when 'Sportif'
    'sportif'
  end
end
%>

<div>
  <ul id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="openair_btn nav-link active" id="myevents-tab" data-bs-toggle="tab" href="#myevents" role="tab" aria-controls="myevents" aria-selected="true">Mes évènements</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="openair_btn nav-link" id="bookings-tab" data-bs-toggle="tab" href="#bookings" role="tab" aria-controls="bookings" aria-selected="false">Réservations</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="myevents" role="tabpanel" aria-labelledby="myevents-tab">
      <section data-controller="card-events">
        <div class="container">
            <ul class="row d-flex justify-content-evenly p-4 g-2" data-card-events-target="list_cards">
            <% @myevents.each do |event| %>
              <%= render 'shared/card', item: event %>
            <% end %>
          </ul>
        </div>
      </section>
    </div>
    <div class="tab-pane fade" id="bookings" role="tabpanel" aria-labelledby="bookings-tab">
      <section data-controller="card-bookings">
        <div class="container">
              <ul class="row d-flex justify-content-evenly p-4 g-2" data-card-bookings-target="list_cards">
            <% @mybookings.each do |booking| %>
                  <%= render 'shared/card', item: booking.event %>
            <% end %>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
