<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connection Page</title>
</head>
<body>
  <h1>Connection Page</h1>
  <button>
    <a href="https://www.strava.com/oauth/authorize?client_id=109819&response_type=code&redirect_uri=http://localhost:3000/pages/indexstrava.html/exchange_token&approval_prompt=force&scope=activity:read_all">Connect to Strava</a>
  </button>
</body>
</html>
