<% content_for :title do %>
  <%= "Accueil - OpenAirConnect" %>
<% end %>


<%

def difficult(e)
  case e.difficulty
  when 'Facile'
    'facile'
  when 'Balade'
    'balade'
  when 'Intermédiaire'
    'inter'
  when 'Difficile'
    'difficile'
  when 'Sportif'
    'sportif'
  end
end
  %>
<section id="home" data-controller="card-events">
  <div class="container">
    <ul class="row d-flex justify-content-evenly p-4 g-2" data-card-events-target="list_cards">
    <% @events.each do |event| %>

      <%= render 'shared/card', item: event %>
    <% end %>
    </ul>
  </div>
</section>
