<%

def pictureHike(e)
    case e.location
    when 'Marseille'
      'rand_1.jpg'
    when 'Cassis'
      'rand_2.jpg'
    when 'Aix-en-Provence'
      'rand_3.jpg'
    when 'Fuveau'
      'rand_4.jpg'
    when 'Saint-Cyr'
      'rand_5.jpg'
    when 'Aubagne'
      'rand_6.jpg'
    when 'Ciotat'
      'rand_7.jpg'
    when 'Gemenos'
      'rand_8.jpg'
    else
      'PrisonMick.jpg'
    end
end

def difficult(e)
  case e.difficulty
  when 'Facile'
    'facile'
  when 'Balade'
    'balade'
  when 'Intermédiaire'
    'inter'
  when 'Difficile'
    'difficile'
  when 'Sportif'
    'sportif'
  end
end
  %>

<section id="home" data-controller="card-events">

<div class="container">
  <ul class="row d-flex justify-content-start p-4 g-2" data-card-events-target="list_cards">
  <% @events.each do |event| %>
    <%= render 'shared/card', item: event %>
  <% end %>
  </ul>
</div>

</section>
