<div class="container form-event"><h1>Ajouter une liste</h1>



<%= simple_form_for [@event, @item] do |f| %>
  <% 3.times do %>
    <div>
      <%= text_field_tag 'item[][name]', '', placeholder: 'Article' %>
      <%= text_field_tag 'item[][quantity]', '', placeholder: 'quantité' %>
    </div>
  <% end %>
  <br>
   <%= submit_tag 'Créer une liste', class:'btn btn-success' %>
<% end %>
