.openair_btn {
  border-radius: 5px;
  background-color: $yellow;
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  margin: 10px 0;
  border: none !important;
  box-shadow: 0px 0px 5px grey;
}

.back_btn {
  position: fixed;
  bottom: 70px;
  right: 10px;
}

.btn_search {
  border-radius: 30px;
  background-color: white !important;
  color: #1f1f1f !important;
}

.btn_flat {
  text-align: center;
}
