body {
  padding-bottom: $navbar_footer_height;
  background-image: url('forest3.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media (max-width: 600px) {
  body {
    padding-bottom: $navbar_footer_height;
  }
}

// * {
//   border: dashed 1px red;
// }
