@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

@keyframes card_appear {
  0% {
    opacity: 0;
    transform: scale(0.9);
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0px);
  }
}

.card_animation {
  animation: card_appear 0.5s ease-out;
}

.card_appear {
  opacity: 1 !important;
}

.card_openair {
  border-radius: 10px;
  width: 300px;
  opacity: 0;
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
  box-shadow: 0px 0px 6px rgb(57, 57, 57);
  * {
    color: #1f1f1f;
  }
  .anchor_card {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-color: $vanilla;
    border-radius: 8px;
    .bookmark_event {
      z-index: 10;
      position: absolute;
      color: rgb(237, 154, 0);
      width: auto;
      right: 0;
      filter: drop-shadow(5px 5px 3px rgba(1, 1, 1, 0.34));
      transform: translateY(5px);
    }
    .bookmark_event_text {
      width: auto;
      font-family: 'Rubik', sans-serif;
      z-index: 10;
      padding: 5px 10px;
      position: absolute;
      top: -1px;
      left: -1px;
      color: white;
      font-size: 14px;
      text-transform: uppercase;
      background-color: rgb(237, 154, 0);
    }
    .images {
      border-radius: 10px 10px 0 0;
      background-size: cover;
      height: 150px;
      .group_size {
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        right: 0;
        bottom: 0;
        width: 60px;
        background-color: rgba(0, 0, 0, 0.422);
        font-size: 12px;
        span {
          color: white;
        }
      }
      .event_hour {
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        left: 0;
        bottom: 0;
        width: 50px;
        background-color: rgba(0, 0, 0, 0.422);
        font-size: 12px;
        span {
          color: white;
        }
      }
    }
    .card-event-stats {
      padding: 5px 10px;
      font-size: 12px;
      span {
        display: flex;
        align-items: center;
        padding: 2px 5px;
        border-radius: 5px;
        .owner {
          font-size: 10px;
          margin: 0 2px;
        }
      }
      .event_time {
        font-size: 10px;
        font-style: italic;
      }
      i {
        margin-left: 5px;
      }
    }
  }
  .difficult {
    display: flex;
    align-items: center;
    font-size: 10px;
    color: white;
  }
  .balade {
    background-color: rgba(245, 245, 220, 0.7);
    color: #1f1f1f;
  }
  .facile {
    background-color: rgba(168, 255, 38, 0.7);
  }
  .inter {
    background-color: rgba(255, 166, 0, 0.7);
  }
  .difficile {
    background-color: rgba(255, 0, 0, 0.7);
  }
  .sportif {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
.owner_event {
  border: 3px solid  #01682d;
}
.booking_event {
  border: 5px solid rgb(237, 154, 0);
}
