@keyframes card_appear {
  0% {
    opacity: 0;
    transform: scale(0.9);
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0px);
  }
}

.card_animation {
  animation: card_appear 0.5s ease-out;
}

.card_appear {
  opacity: 1 !important;
}

.card_openair {
  border-radius: 10px;
  width: 300px;
  opacity: 0;
  margin: 10px 0;
  padding: 0;
  box-shadow: -3px 3px 10px #888956,
              3px -3px 10px #f5f5c6;
  list-style-type: none;
  * {
    color: #1f1f1f;
  }
  .anchor_card {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    .bookmark_event {
      z-index: 1000;
      position: absolute;
      color: rgb(237, 154, 0);
      width: auto;
      right: 0;
      transform: translateY(5px);
    }
    .images {
      border-radius: 10px 10px 0 0;
      background-size: cover;
      height: 150px;
      .group_size {
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        right: 0;
        bottom: 0;
        width: 60px;
        background-color: rgba(0, 0, 0, 0.422);
        font-size: 12px;
        span {
          color: white;
        }
      }
      .event_hour {
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        left: 0;
        bottom: 0;
        width: 50px;
        background-color: rgba(0, 0, 0, 0.422);
        font-size: 12px;
        span {
          color: white;
        }
      }
    }
    .card-event-stats {
      padding: 5px 10px;
      font-size: 12px;
      span {
        display: flex;
        align-items: center;
        padding: 2px 5px;
        border-radius: 5px;
        .owner {
          font-size: 10px;
          margin: 0 2px;
        }
      }
      .event_time {
        font-size: 10px;
        font-style: italic;
      }
      i {
        margin-left: 5px;
      }
    }
  }
  .difficult {
    display: flex;
    align-items: center;
    font-size: 10px;
    color: white;
  }
  .balade {
    background-color: rgba(245, 245, 220, 0.7);
    color: #1f1f1f;
  }
  .facile {
    background-color: rgba(168, 255, 38, 0.7);
  }
  .inter {
    background-color: rgba(255, 166, 0, 0.7);
  }
  .difficile {
    background-color: rgba(255, 0, 0, 0.7);
  }
  .sportif {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
.owner_event {
  border: 2px solid  #2E8B57;
}
.booking_event {
  border: 2px solid orange;
}

$navbar_footer_height: 100px;
@media (max-width: 600px) {
  .navbar-lewagon {
    height: $navbar_footer_height / 2;
  }
  .navbar-lewagon .navbar-item p {
    display: none;
    .navbar-item {
      p {
        display: none;
      }
      i {
        transform: scale(0.7);
      }
    }
  }
}
