.form-event {
  width: 90vw;


 h1{
  text-transform: uppercase;
  font-size: 18px;
  margin: 0.5em auto;
  }
}

.input-event {
  background-color: rgb(255, 255, 255);
  color: $gray;
  border: 1px solid $green;
  border-radius: 15px;
  margin: 0 auto;
  &:focus {
    background-color: $vanilla;
    border-color: $green;
    border-width: 3px;
  }
}

.tag-item {
  display: inline-block;
}

.radio {
  position: absolute;
  transform: scale(0);
}
.radio + label {
  // Design radio btn
  cursor: pointer;
  display: inline-block;
  border-radius: 50rem;
  padding: 1rem;
  background-color: #ffffff;
  color: $green;
  border: 1px solid $green;
  margin-bottom: 12px;

}
.radio:checked + label {
// Design radio btn checked
background-color: $green;
color: white;
}
