.home-headings {
  position: sticky;
  display: inline-block;
  top: 0;
  z-index: 10;
  background-color: $dark-green;
  color: white;
  font-size: 13px;
  padding: 8px;
  margin: 0;
  border-bottom-right-radius: 10px;
}
