.navbar-lewagon {
  justify-content: space-between;
  background: #28965A;
  color: white;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 40px;
  }

  .navbar-item {
    text-align: center;

    i {
      font-size: 2em;
    }

    p {
      margin-bottom: 0;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: white;
    text-decoration: none;
  }
}

@media (max-width: 600px) {
  .navbar-lewagon .navbar-item p {
    display: none;
  }
}
