.navbar-lewagon {
  background: $green;
  color: white;
  padding: 10px;
  .navbar-item {
    text-align: center;
    display: flex;
    align-items: center;
    h6 {
      font-size: 10px;
    }
    i {
      font-size: 2em;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }
}

@media (max-width: 600px) {
  .navbar-lewagon {
    .navbar-item {
      h6 {
        display: none;
      }
      i {
        transform: scale(0.7);
      }
    }
  }
}
