
.myroutes {
  display: flex;
  flex-direction: column;
}

.randonnee {
  background-color: $vanilla;
  border: $vanilla 8px solid;
  border-radius: 8px;
  margin-bottom: 10px;
}
.randonnee-selected {
    border: 5px solid $green;
}
