
.myroutes {
  display: flex;
  flex-direction: column;
}

.randonnee {
  background-color: $vanilla;
  border: $vanilla 5px solid;
  border-radius: 5px;
  margin-bottom: 10px;
}
.randonnee-selected {
  border: 5px solid $green;
}
