.top-navbar {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #28965A;

  .navbar-brand {
    color: white;
    text-align: center;
  }
}

.logout-link {
  position: absolute;
  right: 10px;
  color: white;
}
